/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 6, 2018, 5:19:40 PM
    Author     : BGILLING
*/

/* The above block could be customized in the dynamically created CSS */
.stage_block {
    float: left;
    text-align: center;
    margin-bottom: 2px;
    line-height: 1em;
}

.stage_New, .stage_Scanned, .stage_Problem, .stage_Reviewed, .stage_Done {
    padding: 4px;
    border-radius: 4px;
}

.stage_New .stage_New a {
    background-color: #48d;
    color: #FFF;
}

.stage_Scanned,  .stage_Scanned a {
    background-color: #472;
    color: #FFF;
}

.stage_Problem, .stage_Problem a {
    background-color: #F00;
    color: #FF3;
}

.stage_Reviewed, .stage_Reviewed a {
    background-color: #DDD;
    color: #888;
}

.stage_Done, .stage_Done a{
    background-color: #2C2;
    color: #FFF;
}
/* The above block could be customized in the dynamically created CSS */

.dashboard-report, #islandora-digital-workflow-batch-defaults {
    border-radius: 12px;
    padding: 10px;
    border: 2px solid #777;
    box-shadow: 10px 10px 5px #ccc;
    margin-bottom: 10px;
}

.indent-item {
    margin-left: 12px;
}

.major-item {
    font-weight: bold;
    font-size: 1.10em;
}

.major-item div {
    margin-bottom: 0px;
}

.major-item label {
    font-weight: bold;
}

.dashboard-report div {
    font-size: 93%;
}

#islandora-digital-workflow-batch-defaults h3 {
    margin-top: 2px;
}

#islandora-digital-workflow-batch-defaults label {
    margin-bottom: 4px;
    float: left;
    width: 24%;
}

#islandora-digital-workflow-batch-defaults div {
    clear: left;
}

.good {
    color: green;
}

.bad {
    color: red;
}

.report_table {
    font-size: 0.825em;
    font-family: Andale Mono, monospace;
    max-height: 600px;
}

.report_table_wrapper {
    max-height: 330px;
    height: 330px;
    width: 20px;
}

.fieldset_div_wrapper {
    overflow: scroll;
}

/* ---- for the lookup results display ---- */
.highlighted {
    margin: -2px;
    padding: 1px;
    border: 1px solid #CCCC00;
    background-color: #FFFF22;
    color: #0022FF;    
}

a .highlighted {
    background-color: #FFFFD8;
    color: #0022FF;    
}

.lookup_result {
    border-radius: 6px;
    padding: 10px;
    border: 2px solid #999;
    box-shadow: 3px 3px 3px #ddd;
    margin-bottom: 8px;
}

.lookup_result.oddrow {
    background-color: #f2f2f2;
}

.lookup_result div h2 {
    margin-top: 0;
}

.lookup_result_indent {
    margin: 4px 0;
}

.big_red_warning_button {
    padding: 6px;
    font-size: 1.4em;
    color: red;
    corner-radius: 10px;
    border: 2px solid #999;
    box-shadow: 3px 3px 3px #ddd;    
}