.stage_New {
  color:#2ea;
  background-color:#900;
}

.stage_Scanned {
  color:#FFF;
  background-color:#479;
}

.stage_Problem {
  color:#FF3;
  background-color:#F00;
}

.stage_Reviewed {
  color:#CCC;
  background-color:#237;
}

.stage_Done {
  color:#349;
  background-color:#2C2;
}

