/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 6, 2018, 5:19:40 PM
    Author     : BGILLING
*/

/* The above block could be customized in the dynamically created CSS */
.stage_block {
    float: left;
    text-align: center;
    margin-bottom: 2px;
    line-height: 1em;
}

.transaction_action_check_in_physical_item, 
.transaction_action_check_in_all_physical_items {
    background: url("../images/check-in-physical-item_20.png") 24px 0px no-repeat;
}

.transaction_action_scan_the_item, .transaction_action_scanned_all_items {
    background: url("../images/scan-the-item_20.png") 24px 0px no-repeat;
}

.transaction_action_ingest_item_into_repository, 
.transaction_action_ingested_all_items_into_repository {
    background: url("../images/ingest-item-into-repository_20.png") 24px 0px no-repeat;
}

.transaction_action_add_marc_record {
    background: url("../images/add-marc-record_20.png") 24px 0px no-repeat;
}

.transaction_action_system_made_derivatives {
    background: url("../images/system-made-derivatives_20.png") 24px 0px no-repeat;
}

.transaction_action_check_out_physical_item, 
.transaction_action_checked_out_all_physical_items {
    background: url("../images/check-out-physical-item_20.png") 24px 0px no-repeat;
}

.transaction_action_check_item_against_physical_object, 
.transaction_action_checked_all_items_against_physical_objects {
    background: url("../images/check-item-against-physical-object_20.png") 24px 0px no-repeat;
}

.transaction_action_rescanned_the_item {
    background: url("../images/rescanned-the-item_20.png") 24px 0px no-repeat;
}

div.actions_required {
    float: left;
    padding: 0px 1px;
}

div.transaction_action_check_in_physical_item,
div.transaction_action_scan_the_item,
div.transaction_action_check_out_physical_item,
div.transaction_action_ingest_item_into_repository,
div.transaction_action_rescanned_the_item,
div.transaction_action_system_made_derivatives,
div.transaction_action_check_item_against_physical_object,
div.transaction_action_spacer,
div.transaction_action_ingested_all_items_into_repository,
div.transaction_action_check_in_all_physical_items,
div.transaction_action_scanned_all_items,
div.transaction_action_add_marc_record,
div.transaction_action_checked_out_all_physical_items,
div.transaction_action_checked_all_items_against_physical_objects {
    width: 20px;
    float: left;
    padding: 0px 1px;
    background-position: top left;
}

#edit-add-batch-action option {
    appearance: none;
    text-indent: 28px;
}

#edit-add-batch-action option[value="1"] { background:url(../images/check-in-physical-item_20.png) no-repeat;}
#edit-add-batch-action option[value="2"] { background:url(../images/scan-the-item_20.png) no-repeat;}
#edit-add-batch-action option[value="3"] { background:url(../images/ingest-item-into-repository_20.png) no-repeat;}
#edit-add-batch-action option[value="4"] { background:url(../images/check-out-physical-item_20.png) no-repeat;}
#edit-add-batch-action option[value="5"] { background:url(../images/rescanned-the-item_20.png) no-repeat;}

.stage_New, .stage_Scanned, .stage_Problem, .stage_Reviewed, .stage_Done {
    padding: 4px;
    border-radius: 4px;
}

.stage_New, .stage_New a {
    background-color: #48d;
    color: #FFF;
}

.stage_Scanned,  .stage_Scanned a {
    background-color: #472;
    color: #FFF;
}

.stage_Problem, .stage_Problem a {
    background-color: #F00;
    color: #FF3;
}

.stage_Reviewed, .stage_Reviewed a {
    background-color: #DDD;
    color: #888;
}

.stage_Done, .stage_Done a{
    background-color: #2C2;
    color: #FFF;
}
/* The above block could be customized in the dynamically created CSS */

.dashboard-report, #islandora-digital-workflow-batch-defaults {
    border-radius: 8px;
    padding: 10px;
    border: 2px solid #bbb;
    box-shadow: 3px 3px 3px #ddd;
    margin-bottom: 10px;
}

.dashboard-report h3 {
    margin: 0 0 10px 0 !important;
}

.indent-item {
    margin-left: 12px;
}

.major-item {
    font-weight: bold;
    font-size: 1.10em;
}

.major-item div {
    margin-bottom: 0px;
}

.major-item label {
    font-weight: bold;
}

.dashboard-report div {
    font-size: 93%;
}

#islandora-digital-workflow-batch-defaults h3 {
    margin-top: 2px;
}

#islandora-digital-workflow-batch-defaults label {
    margin-bottom: 4px;
    float: left;
    width: 24%;
}

#islandora-digital-workflow-batch-defaults div {
    clear: left;
}

.required_action, .optional_action {
    padding-left: 4px;
    line-height: 25px;
    background-position: 0px -3px;
}

.required_dsid, .required_action {
    color: black;
}

.indent_small_text {
    margin-top: 4px;
    padding-left: 32px;
    font-size: 0.8em;
    margin-bottom: 0px;
}

.indent_small_text p {
    margin-bottom: 0px;
}

.optional_dsid, .optional_action {
    color: black;
    opacity: 0.45;
}

.disabled_text {
    color: #aaa;
}

.good {
    color: green;
}

.bad {
    color: red;
}

.numeric {
    text-align: right;
}

.report_table {
}

.admin_links {
    display: inline-block;
    float: right;
    padding-right: 6px;
}

.add_20, .delete_20, .edit_20 {
    width: 20px;
    height: 20px;
    float: left;
    opacity: 0.45;
}

.add_20:hover, .delete_20:hover, .edit_20:hover {
    opacity: 1;
}

.edit_20 {
    background: url("../images/edit_20.png") top left no-repeat;
}

.delete_20 {
    background: url("../images/delete_20.png") top left no-repeat;
}

.add_20 {
    background: url("../images/add_20.png") top left no-repeat;
}

.report_table table {
    font-size: 0.9em;
    max-height: 600px;
    overflow: auto;
}

#islandora-digital-workflow-batch-items-form div table thead tr th:first-child,
#islandora-digital-workflow-batch-items-form div table tbody tr td:first-child {
    padding-left: 5px;
}

#islandora-digital-workflow-batch-items-form div table td,
.report_table table td {
    line-height: 26px;
}

.report_table fieldset {
    border-radius: 6px;
    margin: 4px;
    border: 1px solid #aaa;
    box-shadow: 1px 1px 3px #888;
}

.report_table fieldset.oddrow, .report_table table tr.oddrow {
    background-color: #f2f2f2;
}

.report_table_wrapper {
    max-height: 330px;
    height: 330px;
    width: 20px;
}

.short-text-area {
    width: 99%;
    font-size: 0.825em;
    font-family: Andale Mono, monospace;
}

.fieldset_scrollable_div_wrapper {
    max-height: 330px;
    overflow: auto;
}

/* ---- for the lookup form itself -------- */
#lookup_item_form {
    display: block;
    float: right;
    border-radius: 6px;
    padding: 8px;
    margin: 4px;
    border: 1px solid #aaa;
    box-shadow: 1px 1px 3px #888;
    background-color:#fafafa;
}

/* ---- for the lookup results display ---- */
.highlighted {
    margin: -2px;
    padding: 1px;
    border: 1px solid #CCCC00;
    background-color: #FFFF22;
    color: #0022FF;    
}

a .highlighted {
    background-color: #FFFF22;
    color: #0022FF;    
}

.lookup_results {
    clear: both;
}

.lookup_result {
    border-radius: 8px;
    padding: 10px;
    border: 2px solid #bbb;
    box-shadow: 1px 1px 3px #888;
    margin-bottom: 8px;
}

.lookup_result.oddrow {
    background-color:#f6f6f6;
}

.lookup_result div h2 {
    margin-top: 0;
}

.lookup_result_indent {
    margin: 4px 0;
}

.lookup_result_indent label, .lookup_result_indent input {
    float: left;
}

.lookup_result_indent label {
    min-width: 160px;
    clear: left;
    width: 15%;
    padding-top: 8px;
}

.lookup_result_indent input {
    width: 84%;
    display: block;
}

.lookup_result fieldset {
    background-color: #fafafa;
    border: 3px solid #aaa;
    border-radius: 8px;
}

.corner_bordered {
    border-radius: 8px;
    border: 2px solid #bbb;
    box-shadow: 3px 3px 3px #ddd;    
}

.lookup_result ul {
    margin-top: 2px;
    list-style: none inside none;
    padding-left: 10px;
}
.lookup_result ul li {
    background-position: 0px 2px;
    text-indent: 20px;
}
li.no_indent {
    text-indent: 0px !important;
}

/* ---- for inline_form fieldsets to display form-item divs inline ---- */
.inline_form {
    border: 3px solid #ddd;
}

.inline_form .fieldset-wrapper .form-item {
    width: 32%;
    max-width: 32%;
    display: inline-block;
    float: left;
}

.inline_form .fieldset-wrapper .form-type-file {
    width: 100% !important;
    max-width: none;
}

.inline_form .fieldset-wrapper .fieldset_div_wrapper {
    clear: left;
}

.inline_form .fieldset-wrapper .form-item input {
    width: 95%;
}

.inline_form .fieldset-wrapper input[type="submit"] {
    clear: both;
    float: left;
}

.small_right_float {
    font-size: 0.8em;
    float: right;
}

/* ---- some themes do not have a graphic for this class ---- */
ul.action-links a {
    padding-left: 15px;
    background: transparent url("../images/add.png") no-repeat 0 center;
    line-height: 30px;
}