.stage_New, .stage_New a {
    background-color: #48d;
    color: #FFF;
}

.stage_Scanned, .stage_Scanned a {
    background-color: #472;
    color: #FFF;
}

.stage_Problem, .stage_Problem a {
    background-color: #F00;
    color: #FF3;
}

.stage_Reviewed, .stage_Reviewed a {
    background-color: #DDD;
    color: #888;
}

.stage_Done, .stage_Done a {
    background-color: #2C2;
    color: #FFF;
}