.stage_New {
    background-color: #48d;
    color: #FFF;
}

.stage_Scanned {
    background-color: #472;
    color: #FFF;
}

.stage_Problem {
    background-color: #F00;
    color: #FF3;
}

.stage_Reviewed {
    background-color: #DDD;
    color: #888;
}

.stage_Done {
    background-color: #2C2;
    color: #FFF;
}